.registration {
  display: flex;
  /* gap: 32px;
  justify-content: space-around; */
}

.registration__picture {
  width: 243.72px;
  height: 466.94px;
  position: absolute;
  top: 100px;
  right: -220.71px;
  z-index: -1;
}

.registration__block {
  position: relative;
  top: -109px;

  box-sizing: border-box;
  width: 976px;
  height: 810.67px;

  border: 1px solid var(--gray100);
  border-radius: 24px;

  background-color: var(--Gray0);
  padding: 32px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.logoButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.logoButton {
  cursor: pointer;
}

.registration__step {
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 1px;
  text-align: left;
  color: #6c727a;
  margin-bottom: 24px;
}

.registration__title {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  margin-bottom: 8px;
  color: #242629;
}

.registration__acc {
  font-family: Gambetta;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #3c3f44;
  margin-bottom: 40px;
}

.registration__link {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: #242629;
}

.button {
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  padding: 14px 32px 14px 32px;
  border-radius: 30px;
  background-color: #6c727a;
  border-width: 0;
  cursor: pointer;

  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 16px;
  color: #bbbfc4;
  transition: var(--transition);
}

.button:hover {
  border: 3px solid #000;
  color: #000;
}

.button__back {
  margin-top: 16px;
  margin-bottom: 25px;
  border: 1px solid #000;
  color: #000;
  background-color: white;
}
