.registration {
  display: flex;
  align-items: flex-end;
  gap: 32px;
}

.registration__picture {
  width: 243.72px;
  height: 466.94px;
  position: absolute;
  top: 100px;
  right: -220.71px;
  z-index: -1;
}

.registration__block {
  position: relative;
  top: -109px;

  box-sizing: border-box;
  width: 976px;
  height: 810.67px;

  border: 1px solid var(--Gray100);
  border-radius: 24px;

  background-color: var(--Gray0);
  padding: 32px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.logoButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.logoButton {
  cursor: pointer;
}

.registration__step {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--Gray30);
  margin-bottom: 24px;
}

.registration__title {
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 8px;
  color: var(--Gray100);
}

.registration__acc {
  font-family: Gambetta;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;

  color: var(--Gray80);
  margin-bottom: 40px;
}

.registration__link {
  margin-left: 10px;
  font-family: General Sans;
  font-size: 16px;
  font-weight: 600;
  color: var(--Primary100);
}

.button {
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  padding: 14px 32px 14px 32px;
  border-radius: 30px;
  background-color: var(--Gray50);
  border-width: 0;
  cursor: pointer;

  font-size: 16px;
  font-weight: 600;
  color: var(--Gray0);
  transition: var(--transition);
}

.button:hover {
  background-color: var(--Gray100);
}

.button__submit {
  margin-top: 90px;
}

.benefits {
  width: 304px;
  height: 195px;
  position: relative;
  bottom: 80px;
}

.benefitsTitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 24px;
}

.benefitsList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.benefitsListItem {
  color: var(--Gray80);
  font-family: Gambetta;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;

  background: url(../../assets/icons/listDotImage.svg) no-repeat left top;
  padding: 0px 0px 0px 26px;
  background-position: left 4px;
}

.benefitsListItem:not(:last-child) {
  margin-bottom: 8px;
}
