.login {
  display: flex;
}

.login__picture {
  width: 243.72px;
  height: 466.94px;
  position: absolute;
  top: 100px;
  right: -220.71px;
  z-index: -1;
}

.login__block {
  position: relative;
  top: -109px;

  box-sizing: border-box;
  width: 976px;
  height: 810.67px;

  border: 1px solid var(--Gray100);
  border-radius: 24px;

  background-color: var(--Gray0);
  padding: 32px;
}

.label {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  position: relative;
}

.inputEmail {
  margin-bottom: 45px;
}

.inputPass {
  margin-bottom: 119px;
}

.label__text {
  font-family: Gambetta;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 8px 32px;
  color: var(--Gray70);
}

.input {
  box-sizing: border-box;
  font-family: Gambetta;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--Gray100);

  height: 48px;
  padding: 14px 24px 14px 24px;
  border-radius: 30px;
  border: 1px solid var(--Gray100);
}

.login__title {
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 8px;
  color: var(--Gray100);
}

.login__acc {
  font-family: Gambetta;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;

  color: var(--Gray80);
  margin-bottom: 40px;
}

.login__link {
  margin-left: 8px;
  font-family: General Sans;
  font-size: 16px;
  font-weight: 600;
  color: var(--Primary100);
}

.button {
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  padding: 14px 32px 14px 32px;
  border-radius: 30px;
  background-color: var(--Gray50);
  border-width: 0;
  cursor: pointer;

  font-size: 16px;
  font-weight: 600;
  color: var(--Gray0);
  transition: var(--transition);
}

.button:hover {
  background-color: var(--Gray100);
}

.eyeIcon {
  position: absolute;
  bottom: -1px;
  right: 16.5px;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--Gray70);
}

.eyeIcon svg {
  font-size: 1.2em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.logoButtons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 43px;
}
