.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 58px;
  margin-bottom: 80px;
  transition: var(--transition);
}

.headerToRight {
  justify-content: flex-end;
}

.logo {
  transition: var(--transition);
}

.logo:hover {
  transform: scale(1.1);
}

.logoText {
  cursor: pointer;
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;

  display: flex;
  align-items: center;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.logoText:hover {
  color: var(--Primary100);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.logo .logoIcon {
  width: 120px;
  height: 128px;
  display: flex;
  position: relative;
  left: -8%;
  top: 38px;
}

.navbar {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  padding: 0px 4px 4px 4px;
  transition: var(--transition);
}

.navbar__active {
  color: var(--Primary100);
}

.navigation {
  display: flex;
  align-items: center;
  transition: var(--transition);
}
.navigationMenu {
  width: 528px;
  display: flex;
  justify-content: space-between;
  margin-right: 32px;
}

.auth {
  cursor: pointer;
  display: flex;
  gap: 16px;
}

.authButton {
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 144px;
  height: 40px;

  border-radius: 24px;
  transition: var(--transition);
}

.authButtonLogin {
  border: 1px solid var(--gray100);
}

.authButtonLogin:hover {
  color: var(--Primary100);
  border: 1px solid var(--Primary100);
}

.authButtonRegister {
  color: var(--sand);
  background-color: var(--gray100);
}

.authButtonRegister:hover {
  background-color: var(--Primary100);
}
