.homePage {
  background-image: url("../../assets/images/mainBackground.png");
  background-size: inherit;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;

  display: flex;
  justify-content: space-between;
}

.homePage__text {
  width: 528px;
  padding-top: 64px;
  padding-bottom: 540px;
  font-weight: 600;
  font-size: 64px;
  color: var(--Gray100);
  text-align: center;
}
