.fluffiesList {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  padding: 0;
  gap: 32px;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}
