.fluffiesList {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  padding: 0;
  gap: 32px;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  gap: 32px;
}
.invisibleButton {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: fill 0.4s ease;
}

.invisibleButton:hover path {
  fill: var(--Primary100);
}
